<p><%= comment.body %></p>
<p><%= link_to comment.user.name, comment.user %> on <%= comment.created_at.strftime('%D') %></p>
<% if comment.user == current_user || current_admin %>
  <%= link_to 'edit', edit_comment_path(comment) %>
  <%= link_to 'delete', comment, method: :delete, data: {confirm: 'Are you sure? You cannot undo this action'} %>
<% end %>
