<%= form_for(@user, :html => { :multipart => true }) do |f| %>
  <div class="field">
    <% @user.errors.full_messages.each do |msg| %>
      <p class="error_text"><%= msg %></p>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :avatar, "Current profile picture: #{@user.avatar_file_name}" %><br>
    <%= f.file_field :avatar %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, required: true %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, required: true %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, required: true %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, 'Confirm Password' %><br>
    <%= f.password_field :password_confirmation, required: true %>
  </div>
  <div class="field">
    <%= f.label :notifications, "I'd like to receive email notifications about games I'm playing in." %><br>
    <%= f.check_box :notifications, {}, 'true', 'false' %>
  </div>
  <div class="field">
    <%= f.label :email_display, "I'd like my email address displayed on my profile page." %><br>
    <%= f.check_box :email_display, {}, 'true', 'false' %>
  </div>
  <div class="field">
    <%= f.label :zip_code, 'Zip Code' %><br>
    <%= f.number_field :zip_code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
