<div class="welcome">
  <div class="wrapper borough_wrapper clearfix">
    <div class="borough_search">
      <h2>Search for courts:</h2>
      <%= form_tag("/courts/search", method: "get") do %>
        <%= text_field_tag :q, nil, placeholder: 'Zip Code', class: 'zip_input' %>
        <%= submit_tag("Search") %>
      <% end %>
    </div>
    <div class="borough_select">
      <h2>Select a borough:</h2>
      <ul class='horizontal_list boroughs'>
        <% @boroughs.each do |borough| %>
          <li><%= link_to_unless params[:b] == borough, borough, params.merge({b: borough, p: 1}) %></li>
        <% end %>
      </ul>
      <% unless params[:b].nil? %>
        <div class="click_results">
            <% @display_courts.each do |court| %>
              <p>
                <%= link_to court.name, court %>
                <% if court.has_current_games? %>
                  <%= image_tag('basketball.png') %>
                <% end %>
              </p>
              <p><%= court.location %></p>
            <% end %>
        </div>
      <% end %>
    </div>
    <% unless params[:b].nil? %>
      <div class="pagination">
        <p>Page:
          <% (1..@pages).each do |page| %>
            <%= link_to_unless_current page, params.merge({b: params[:b], p: page}) %>
          <% end %>
        </p>
      </div>
    <% end %>
  </div>
</div>
