<div class="welcome">
  <div class="wrapper clearfix">
    <h1>Courts near <%= params[:q] %></h1>
    <% if @result_courts.empty? %>
      <div class="search_results">
        <em><%= flash[:no_results] %></em>
        <%= link_to 'back', :back %>
      </div>
    <% else %>
      <div class="search_results">
        <% @result_courts.each_with_index do |court, i| %>
          <p>
            <%= "#{@labels[i]}. " %>
            <%= link_to court.name, court %>
            <% if court.has_current_games? %>
              <%= image_tag('basketball.png') %>
            <% end %>
          </p>
          <p><%= court.location %></p>
        <% end %>
        <%= link_to 'back', :back %>
      </div>
      <br>
      <div class="static_map">
        <%= image_tag(@map_url) %>
      </div>
    <% end %>
  </div>
</div>
