<h1>Courts near <%= params[:q] %></h1>
<% if @result_courts.empty? %>
  <em><%= flash[:no_results] %></em>
<% end %>
<% @result_courts.each do |court| %>
  <p>
    <%= link_to court.name, court %>
    <% if court.games.any? {|game| !game.past? } %>
      (games here!)
    <% end %>
    <br><%= court.location %>
  </p>
<% end %>
<br>
<%= link_to 'back', :back %>
