<div class="welcome">
  <div class="wrapper clearfix">
    <h1><%= @court.name %></h1>
    <div class="game_map">
      <iframe
        width="600"
        height="450"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyBUAOr0dXo8Oa5nBuDzLDRXYifbUg1kzqk&zoom=19&center=<%= @court.latitude %>, <%= @court.longitude %>&maptype=satellite">
      </iframe>
      <div class="court_info">
        <p><%= @court.location %></p>
        <p>Number of courts: <%= @court.num_courts.zero? ? '  unknown' : @court.num_courts %></p>
        <%= link_to 'Add a comment about this court', new_court_comment_path(@court) %>
      </div>
      <div class="court_comments">
        <% @court.comments.each do |c| %>
          <% if c.approved %>
            <p><%= render partial: 'comments/comment', locals: {comment: c} %></p>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="court_game">
      <h2>Games:</h2><br>
      <% unless @court.games.empty? %>
        <% @court.games.each do |game| %>
          <%= render partial: 'games/game', locals: {game: game} unless game.past?%>
        <% end %>
      <% end %>
      <br>
      <p><%= link_to 'Start a new game', new_court_game_path(@court) %></p>
      <br>
      <p><%= link_to 'Back to all courts', courts_path %></p>
    </div>
  </div>
</div>
