<%= form_for([@court, @game]) do |f| %>
  <div class="error_list">
    <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <!-- Make date select prettier -->
  <div class="field">
    <%= f.label :start_at, 'Start Time' %><br>
    <%= f.datetime_select :start_at, :ampm => true, :minute_step => 15 %>
  </div>
  <div class="field">
    <%= f.label :skill_level, 'Skill level (optional)' %><br>
    <%= f.number_field :skill_level, in: 1..3 %>
    <%= link_to "What's this?", about_path %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <div class="field">
    <p><%= link_to 'back', :back %></p>
  </div>
<% end %>
