<div class="game">
  <div class="triangle">
    <%= image_tag('triangle.png', class: 'expansion') %>
  </div>
  <div class="title">
    <h3>
      <%= "#{game.time_info}" %>
      <% unless game.users.include?(current_user) || game.users.count >= 20 %>
      <%= link_to 'join this game', "/games/#{game.id}/add-current", {class: 'join_link', method: :post} %>
    <% end %>
    </h3>
    <p class="skill_level">Skill level:
      <%= game.skill_level.nil? ? 'none' : game.skill_level %>
      <%= link_to "(What's this?)", about_path %>
    </p>
  </div>
  <div class="game_players">
    <ul>
      <% game.users.each do |user| %>
        <li>
          <% if current_user == user && !game.past? %>
            <%= link_to image_tag('x_icon.png'), "/games/#{game.id}/remove-current", {method: :post} %>
          <% end %>
          <%= link_to user.name, user %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
